body {
    display: grid;
    place-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.donut-image {
    width: 300px;
}

.donut-image:hover {
    opacity: 300px;
    cursor: pointer;
}

.donut-image:active {
    opacity: 0.8;
    transform: scale(1.02)
}