body {
    font-family: "Skranji", serif;
    font-size: 25px;
}

header {
    font-family:  "Skranji", serif;
    padding: 10px;
    text-align: center;
}

div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 200px;
  }

  button {
    padding: 15px 25px;
    font-size: 45px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000000;
    position: absolute;
    top: 70%;
    right: 40%;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

p:first-child {
    text-align: right;
    position: fixed;
    top: 50%;
}

p:second-child {
    text-align: left;
    position: fixed;
    top: 100%;
}